name: checksec-release
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Run tests with coverage
        run: go test ./... -coverprofile=coverage.out

      - name: Build checksec binary for Docker context
        run: go build -o checksec .

      - name: Docker build
        run: docker build -t slimm609/checksec:latest .

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: slimm609/checksec:latest
